body {
    background: rgb(246, 246, 246) !important;
}

.main-container {
    margin: 0 12% 10px;
    padding: 50px;
    background: white;
    border: 0.5px solid rgb(0,0,0,0.25);
}

.image {
    object-fit: contain;
}

.carousel-item  {
    height: 500px;
}

.rating > * {
    font-size: 0.7rem;
}

.product-spec {
    white-space: pre-line;
}

.price{
    color: #ff0000 !important;
    font-size: 1.2rem;
    font-weight: 800 !important;
}

p {
    margin: 0 !important;
}

.product-title {
    font-size: 1.1rem;
}

.add-favorite {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 1rem !important;
    color: black !important;
}

.add-cart {
    background-color: #333333 !important;
    border-color: #333333 !important;
    font-size: 0.9rem !important;
    padding: 0.7rem 4rem !important;
}

@media only screen and (max-width: 768px) {
    .main-container {
        margin: 0;
        padding: 20px;
        background: white;
        border: 0.5px solid rgb(0,0,0,0.25);
    }

    .add-favorite {
        font-size: 0.8rem !important;
        color: black !important;
    }

    .add-cart {
        font-size: 0.8rem !important;
        padding: 0.7rem 1rem !important;
    }
}

