.order-title a {
    color: black;
    font-weight: 700;
}

.order-title a:hover {
    text-decoration: none;
    color: rgb(54, 54, 54);
    transition: color 300ms;
}

.product-rating .fa-star {
    font-size: 1rem;
}

.product-quantity-wrapper p{
    font-size: 14px;
    color: #656565;
}

@media screen and (min-width: 768px){
    .single-order {
        width: 80%;
    } 
}