h1,h2,h3,h4,h5 {
    font-family: 'Roboto Slab', serif;
}

p, a,li,span {
    font-family: 'IBM Plex Serif', serif;
}

button:focus {
    outline: none !important;
}

.border.border-primary.custom-border-width {
    border-width: 2px !important;
}

.navbar.sticky-top {
    padding-left: 5%;
}

.cart-icon-wrapper {
    position: relative;
}

.number-item-cart {
    position: absolute;
    right: -10px;
    top: -3px;
    font-size: 0.6rem !important;
}

input::-webkit-input-placeholder {
    font-size: 16px;
}

.upper-nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: white;
}

.navbar-nav .nav-item>* {
    color: black !important;
    font-family: 'Roboto', sans-serif;
    transition: 400ms;
    border-radius: 15px;
    font-size: 16px;
}

.nav-item.main>*:hover, 
.pop-up-items .cart-btn:hover, 
.pop-up-items .user-btn:hover,
.current-site 
 {
    background: #737373;
}

.dropdown.hoverable:hover>.dropdown-menu {
    display: block;
}

.dropdown.hoverable>.dropdown-toggle:active {
    pointer-events: none;
}

.dropright.hoverable:hover>.dropdown-menu {
    display: block;
}

.dropright.hoverable>.dropdown-toggle:active {
    pointer-events: none;
}

.menu-banners {
    background: rgb(248, 248, 248);
}

.menu-item>* {
    font-size: 0.7rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}

.menu-item:hover {
    background: rgb(231, 231, 231) !important;
}

.fa-star {
    margin-right: 3px;
}

.fa-star:nth-child(5) {
    margin-right: 0 !important;
}

.menu-icon img {
    width: 19px;
    height: 19px;
}

.padding-container-fluid {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.carousel-item {
    width: 100%;
    height: 30vh;
}

.carousel-item img {
    height: 90%;
    width: 100%;
}

.cart-icon-wrapper button,.user-icon-wrapper button {
    border: transparent; 
    height: 40px; 
    width: 40px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

.custom-toggler.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-wrapper img {
    overflow: hidden;
    background-color: white;
    animation: float 3s ease-in-out infinite;
}

.navbar-nav .nav-item {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.seperator {
    border-left: 1px solid white;
}

.pop-up-items {
    transition: opacity 500ms;
    opacity: 0;
}

.category {
    padding: 0 !important;
}

.sm-banner-wrapper {
    width: 100%;
}

.sm-banner-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-nav .nav-item .nav-link.category-btn {
    padding-left: 1rem;
}

.footer-title {
 margin-bottom: 20px;
}

.footer-content {
    font-size: 0.7rem;
}

.footer-social-icons img {
    width: 30px;
}

.see-all{
  color: white;
  font-size: 0.8rem;
}

.see-all:hover{
  color: white;
  text-decoration: none;
}

.catalog{
  color: black;
}

.btn-theme h3 {
    color: white ;
}

.catalog:hover{
  color: black;
  text-decoration: none;
}

h5{
  font-size: 0.875rem !important;
}

h5.card-title.rounded{
  height: 90px;
  padding: 0;
  margin: 0;
}

.card-img-top {
  margin: auto;
}

.price{
  color: #ff0000 !important;
  font-size: 0.9rem;
  font-weight: 800 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dropdownsearchbar .card-body {
    margin-top: 0px !important;
}

.item img {
  height: 50px;
  margin-bottom: 10px;
}

.categories {
  padding: 50px 0;
}

.cata-data.row {
  background: aliceblue;
  width: 100%;
  margin-left: 2px;
  border: 1px solid black;
  border-radius: 15px;
}

.item.col-md-2 {
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.item h5{
  margin-bottom: 0;
}

.main-container {
  margin: 0 12% 10px;
}

.card-body {
    margin-top: 50px;
}

.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

img.card-img-top {
    padding-top: 10px;
    max-height: 200px;
    width: 60%;
    object-fit: contain;
}
.top-seller-name {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-name {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #484545; 
    box-shadow: 1px 1px 1px #afa9a9;
    text-shadow: 1px 1px 6px #d0d0d0;
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
.catalog-name span {
    background:#fff; 
    padding:0 20px;
}

.rating > * {
    font-size: 0.7rem;
}

.product {
    cursor: pointer;
    border-radius: 0 !important;
    /* border-top: 0px !important;
    border-left: 0px !important; */
}

.user-btn:hover {
    cursor: pointer;
}

.add-cart, .add-cart-search {
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.add-cart img, .add-cart-search img {
    width: 30px;
    height: 30px;
}

.add-cart, .add-cart-search {
    font-size: 1.8rem;
}
.nav-footer-theme {
    background-color: #333333!important;
}
.navbar-nav .nav-item>* {
    color: white !important;
}
.sticky-top{
    top: -2px !important;
}

footer > * {
    color: black !important;
}

.add-cart:hover {
    animation: float 1s ease-in-out infinite;
}
.card-product-wrapper .product:hover, .card-product-wrapper-ts .product:hover{
    transform: scale(1.03);
    transition: all 350ms;
    border-width: 0px !important;
}

.card-product-wrapper .product:hover {
    box-shadow: 1px 1px 9px rgb(0 0 0 / 25%);
}

.card-product-wrapper .product, .card-product-wrapper-ts .product {
    border-width: 0 !important;
}

.card-product-wrapper{
    padding: 5px 5px !important;
    border:0.5px solid rgb(0,0,0,0.25);
}

.card-product-wrapper:nth-child(1)
,.card-product-wrapper:nth-child(2),
.card-product-wrapper:nth-child(3), 
.card-product-wrapper:nth-child(4){
    margin-top: 5px;
    border-top: 0px !important;
    border-left: 0px !important;
}

.card-product-wrapper:nth-child(5)
,.card-product-wrapper:nth-child(6),
.card-product-wrapper:nth-child(7),
.card-product-wrapper:nth-child(8) {
    margin-bottom: 5px;
    border-top: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
}

.card-product-wrapper:nth-child(4)
,.card-product-wrapper:nth-child(8) {
    border-right: 0px !important;
}

.card-product-wrapper-ts {
    padding: 5px 5px !important;
    border:0.5px solid rgb(0,0,0,0.25);
    margin: 0 15px;
}

.slider-arrow:hover {
    cursor: pointer;
}
.cart-btn {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

div#controls {
    outline: none !important;  
}

.cart-btn:hover {
    text-decoration: none;
    color: black;
}

.user-btn {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.user-btn:hover {
    text-decoration: none;
    color: black;
}

div#carouselId {
    height: 50vh;
    border: 5px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: #000;
}

.carousel-item {
    height: 100%;
}

.menu-banners {
    padding: 10px 4% 10px 8%;
    height: 100%;
}

.banner-section {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.menu-list img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.menu-list {
    height: 50vh;
}
.btn-theme {
    background-color: #ff0000 !important;
}

.container-footer {
    margin: 0% 10%;
}

.copyright {
    border-top: 1px solid rgb(179, 179, 179);
    padding-top: 20px;
}

.row.w-100.mx-0 {
    margin-top: 40px;
    box-shadow: -2px -1px 8px #d0d0d0d0;
    border: 2.5px solid #838586;
    padding: 10px;
}

.upper-container,.navbar-container{
    margin: 0 6%;
    width: 100%;
}

.sponsor-container {
    padding: 50px 0;
    height: min-content;
}

.sponsor img:hover {
    transform: scale(1.05);
    transition: all 500ms;
}
.sponsor .img {
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 5px;
}
.sponsor .img img{
    width: 100%;
    height: 100%;
    
}
.bg-dark {
    background-color: #333333!important;
}

.top-rating {
    position: relative;
  }
  .slider-arrow {
    background: none;
    opacity: 0.5;
    position: absolute;
    overflow: visible;
  }
  .my-slider{
     padding-right: 15px;
  }
  .rightcenter {
    right: 0rem;
    top: 50%;
    bottom: auto;
  }
  .leftcenter {
    left: 0rem;
    top: 50%;
    bottom: auto;
  }
  .auto {
    display: none;
  }
  
  /* searchbar */
  #searchbarinp{
      border: 1.5px solid rgb(63, 62, 62);
      background: url(assets/loupe.png) no-repeat scroll 7px 0px;
      background-size: 18px 18px;
      background-color: white;
      background-position-y: center;
      padding-left: 35px;
  }
  #dropdownsearchbar{
      z-index: 2000;
  }
  #dropdownsearchbar img{
      width: 5rem;
      height: 5rem;
  }
  #dropdownsearchbar .card{
      height: 5.5rem !important;
  }
  
  #dropdownsearchbar .product:hover {
      transform: none
  }

@media only screen and (max-width: 992px) {
    .nav-item.main {
        margin: 0 !important;
    }
    .card-body {
        margin-top: 70px;
    }

    #dropdownsearchbar .card-body {
        padding-top: 5px !important;
    }
    .banner-section {
        display: none;
    }
    .card-product-wrapper {
        border-top: 0px !important;
        border-left: 0px !important;
    }
    .card-product-wrapper:nth-child(even) {
        border-right: 0px !important;
    }
    .card-product-wrapper:nth-child(1),
    .card-product-wrapper:nth-child(2),
    .card-product-wrapper:nth-child(3),
    .card-product-wrapper:nth-child(4) {
        margin-top: 0
    }
    .card-product-wrapper:nth-child(5),
    .card-product-wrapper:nth-child(6),
    .card-product-wrapper:nth-child(7),
    .card-product-wrapper:nth-child(8) {
        border-bottom: 0.5px solid rgba(0,0,0,0.25) !important;
        margin-bottom: 0;
    }

    .card-product-wrapper:nth-child(7),
    .card-product-wrapper:nth-child(8) {
        border-bottom: 0px !important;
    }
}


@media only screen and (max-width: 768px) {
    .card-body {
        margin-top: 40px;
        padding: 0.7rem !important;
    }

    .add-cart {
        position: absolute;
        bottom: 10px;
        right: 5px;
    }

    div#carouselId {
        height: 40vh;
    }

    .sponsor-container {
        padding: 0;
    }

    i.bi.bi-cart2 {
        font-size: 1.5rem;
    }
   
    input::-webkit-input-placeholder {
        font-size: 15px;
    }

    #dropdownsearchbar .card-body > * {
        font-size: 0.8rem !important;
    }

    .search-bar {
        margin-bottom: 15px;
    }

    li.nav-item.main.dropdown.category.col-md-2 {
        padding-left: 0 !important;
    }
    .card-product-wrapper .product:hover{
        transform: scale(1.00);
    }
    
    .main-container {
        margin: 0;
    }

    .menu-banners {
        padding: 10px 4% 10px 4%;
        height: 100%;
    }

    .menu-list {
        display: none;
    }

    .pop-up-items {
        display: none !important;
    }

    .upper-nav {
        height: 200px;
        align-items: flex-start;
    }
    .mobile-cart-user {
        display: block;
    }

    .nav-item.main .nav-link {
        text-align: start !important;
    }

    .card-product-wrapper {
        padding: 0 !important;
        margin: 0 !important;
    }
    .sponsor {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .sponsor-container .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    li.nav-item.main {
        margin-top: 10px !important;
    }

    li.nav-item.popup.ml-auto {
        margin-left: 0 !important;
    }

    button#cart-icon, button#user-icon {
        width: fit-content;
    }

    .pop-up-items .nav-item {
        margin: 0;
    }

    .logo-wrapper {
        margin-top: 20px;
    }

    .search-wrapper {
        margin-top: 15px;
    }

    .cart-user-wrapper {
        margin-top: 10px;
    }

    .sponsor {
        margin: 10px;
    }
    .navbar-container {
        margin-left: 0 !important;
    }
    
    .navbar-nav .nav-item .nav-link,  
    .cart-btn, .user-btn{
        padding-left: 12px !important;
        margin-left: 20px;
        padding-right: 12px !important;
    }

    .menu-upper {
        margin-left: 0 !important;
    }

    a.user-btn.menu-upper.ml-4 {
        margin-left: 0 !important;
    }

    li#pop-up-desktop {
        display: none !important;
    }
    .nav-wrapper-mobile {
        width: 100%;
    }
    #pop-up-mobile {
        display: block !important;
    }

    .cart-mobile {
        padding-left: 0 !important;
    }
}
